:root {
  --appBg: bisque;
  --grey: #333;
  --learnerColor: #fa641e;
  --learnerBg: blanchedalmond;
}




.App {
  padding: 20px;
  background-color: var(--appBg);
}

/* Learner component */
.Learner {
  width: 80%;
  margin: 0 auto; /* center the div horizontally */
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--learnerBg);
}

.Learner h2 {
  color: var(--learnerColor);
  margin-bottom: 10px;
}

.Learner p {
  color: var(--grey);
}

/* Score component */
.Score {
  margin-top: 10px;
  width: 48%;
 }

.Score p {
  color:  var(--grey);
  margin: 5px 0;
}
